body{
	margin: 0;
	padding: 0;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-image: url("fondo.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: blue;
	font-family: consolas;

}
.cuadro{
	background-image: url("foto5.png");
	height: 700px;
	width: 700px;
	/*filter: brightness(1.1);
	mix-blend-mode: multiply;*/
}
.texto{
	margin-top: 230px;
	height: 100px;
	width: 650px;
}
.titulo{
	margin-top: -450px;
	color: white;
	width: 680px;
	font-size: 50px;
	justify-content: center;
	
}
